@import '../App/colors';

.weather-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('../../assets/background/Academy-Weather forecast-Bg-up.png')
      no-repeat top right / contain,
    url('../../assets/background/Academy-Weather forecast-Bg-buttom.png')
      no-repeat bottom left / contain;

  background-color: $accent;

  &::after {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/background/Academy-Weather forecast-Bg-buttom.png');
  }

  .weather-app__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    margin: 0 auto;
    color: $base-weak;
    width: 775px;
    height: 212px;

    .weather-app__title {
      .weather-app__title-word {
        font-size: 102px;
        line-height: 106px;

        &.weather-app__tilte-word_weather-app {
          text-align: left;
        }
        &.weather-app__title-word_forecast {
          text-align: right;
        }
      }
    }
  }
  .weather-app__footer {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;

    .weather-app__meta {
      font-size: 14px;
      line-height: 18px;
      opacity: 60%;
      color: $base-weak;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
