@import '../../App/colors';
@import '../../App/App.scss';

.card-past {
    width: 100%;
    height: 100%;
    background-color: $accent;
    border-radius: 8px;
    padding: 20px;
    color: $base-weak;

    .card-past__date {
        font-weight: bold;
    }
    .card-past__icon {
        text-align: center;
    }
    .card-past__temperature {
        @extend h1;
        text-align: right;
    }
}